@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div id="users-body">
    @RenderBody()
</div>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)