@model QuizFactory.Mvc.ViewModels.QuestionViewModel

<h2>@Model.Number @Model.QuestionText</h2>
@foreach (var item in @Model.Answers)
{
   @Html.Partial("_AnswerPartial", item)
}

<button value="ADD SUBMIT HELPER"/>