@model QuizFactory.Mvc.ViewModels.Play.QuizPlayViewModel

@{
    Layout = "~/Views/Play/PlayQuizLayout.cshtml";
}

@{
     Dictionary<int, int> results = (Dictionary<int, int>)TempData["results"];
    var percentage = (int)TempData["scorePercentage"];
 }

@foreach (var question in Model.Questions)
{ 
    <div class="question box-shadow gray">
        <h4>@question.QuestionText </h4>
        @{

            foreach (var answer in question.Answers)
            {
                string answerColor = "";
                bool isSelected = false;
                if (results.ContainsKey((question.Id)) && results[(question.Id)] == answer.Id)
                {
                    answerColor = "blue";
                    isSelected = true;
                }
                <p class=@answerColor>@answer.Text
                    @if (answer.IsCorrect)
                    {
                        <i class="glyphicon glyphicon-ok green"></i>
                    }
                    else if (isSelected) //Selected wrong answer
                    {
                        <i class="glyphicon glyphicon-remove red"></i>
                    }                   
                </p>
            }
        }

    </div>
}
<div class="progress box-shadow">
    <div class="progress-bar" role="progressbar" aria-valuenow=@percentage aria-valuemin="0" aria-valuemax="100" style="width: @percentage%;">
        @percentage%
    </div>
</div>
<h3>VOTING</h3>