@model  QuizFactory.Mvc.ViewModels.AnswerViewModel
<div>
    @if (Model.IsCorrect)
    {
        <i class="glyphicon glyphicon-ok green"></i>
    }
    else
    {
        <i class="glyphicon glyphicon-remove red"></i>
    } 
    @Html.DisplayFor(a => a.Text)
</div>
