@using QuizFactory.Mvc.ViewModels.Play;

@model QuizFactory.Mvc.ViewModels.Play.QuizPlayViewModel

@{
    Layout = "~/Views/Play/PlayQuizLayout.cshtml";
}

@{
    //var r = (SelectedAnswersViewModel)TempData["results"];
    //Dictionary<string, string> results = (Dictionary<string, string>)r.Questions;
    Dictionary<int, int> results = (Dictionary<int, int>)TempData["results"];
}

@foreach (var question in Model.Questions)
{ 
    <div class="question box-shadow gray">
        <h4>@question.Number. @question.QuestionText </h4>
        @{

            foreach (var answer in question.Answers)
            {
                string answerColor = "";
                bool isSelected = false;
               // if (results.ContainsKey((question.Number - 1).ToString()) && results[(question.Number - 1).ToString()] == answer.Id.ToString())
                if (results.ContainsKey((question.Number - 1)) && results[(question.Number - 1)] == answer.Id)
                {
                    answerColor = "blue";
                    isSelected = true;
                }
                <p class=@answerColor>@answer.Text
                    @if (answer.IsCorrect)
                    {
                        <i class="glyphicon glyphicon-ok green"></i>
                    }
                    else if (isSelected) //Selected wrong answer
                    {
                        <i class="glyphicon glyphicon-remove red"></i>
                    }                   
                </p>
            }
        }

    </div>
}

<h3>VOTING</h3>