body {
    background-color: rgb(247,247,247);
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

a:hover {
    text-decoration: none;
}

.categories {
    /*border: solid 1px #8FB613;*/
    margin: 20px 0 0 20px;
    padding: 10px 0 10px 20px;
    background-color: white;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-left: solid 1px #d9d9d9;
    box-shadow: inset -40px -4px 54px -8px rgb(247,247,247);
    /*box-shadow: -11px 1px 54px -8px rgba(0,0,0,1);*/
}

.category {
    display: block;
    margin: 5px 0;
}

.left {
    float: left;
}

.right {
    float: right;
}

.navbar-nav > li > a:hover {
    background-color: rgb(247,247,247);
}

.nav .open > a, .nav .open > a:focus, a:focus {
    background-color: transparent !important;
}

.main-menu, .dropdown-menu {
    text-shadow: 0 2px 2px gray;
    border: solid 1px #8FB613;
    border-radius: 5px;
    box-shadow: 0 3px 6px lightgray;
    background: rgb(167,217,57);
    background: -moz-linear-gradient(top, rgba(167,217,57,1) 0%, rgba(156,201,50,1) 64%, rgba(156,201,50,1) 81%, rgba(167,217,57,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(167,217,57,1)), color-stop(64%,rgba(156,201,50,1)), color-stop(81%,rgba(156,201,50,1)), color-stop(100%,rgba(167,217,57,1)));
    background: -webkit-linear-gradient(top, rgba(167,217,57,1) 0%,rgba(156,201,50,1) 64%,rgba(156,201,50,1) 81%,rgba(167,217,57,1) 100%);
    background: -o-linear-gradient(top, rgba(167,217,57,1) 0%,rgba(156,201,50,1) 64%,rgba(156,201,50,1) 81%,rgba(167,217,57,1) 100%);
    background: -ms-linear-gradient(top, rgba(167,217,57,1) 0%,rgba(156,201,50,1) 64%,rgba(156,201,50,1) 81%,rgba(167,217,57,1) 100%);
    background: linear-gradient(to bottom, rgba(167,217,57,1) 0%,rgba(156,201,50,1) 64%,rgba(156,201,50,1) 81%,rgba(167,217,57,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7d939', endColorstr='#a7d939',GradientType=0 );
}

.main-menu {
    width: 65%;
    margin-top: 50px;
    float: right !important;
    margin-left: 25%;
    position: absolute;
    padding: 0 10px;
}

    .main-menu li a {
        padding: 5px 20px;
    }

        .main-menu li a:hover {
            background-color: #3F6CEB !important;
        }

    .main-menu a, .dropdown-menu a {
        color: white !important;
    }

.icon-bar {
    background-color: #3F6CEB;
}

.search-box {
    border-radius: 5px;
    height: 1.3em;
    margin: 0;
    border: none;
    padding: 0 5px;
}

.serch-button {
    color: white;
    background-color: transparent;
    border: none;
}

.search-form {
    margin: 4px 0;
}

.content-title {
    margin: 0;
}

.quiz-box {
    border-top: solid 1px lightgray;
    border-radius: 5px;
    background-color: white;
    padding: 5px 10px;
    margin: 15px 5px;
    box-shadow: 0 5px 5px lightgray;
    width: 80%;
    height: 80%;
}

.header-boxes {
    margin: 20px 0;
}

    .header-boxes .quiz-box {
        border-top: none;
    }

    .header-boxes :first-child {
        transform: rotate(4deg);
    }

    .header-boxes :nth-child(2) {
        transform: rotate(-4deg);
    }

    .header-boxes :last-child {
        transform: rotate(-2deg);
    }

#tabContent {
    background-color: white;
    box-shadow: 0 5px 5px lightgray;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: solid 1px lightgray;
    border-top: none;
}

/* Colorts */
.blue {
    color: #3F6CEB;
}

.red {
    color: #CB0102;
}

.yellow {
    color: #EFBF2D;
}

.green {
    color: #A7D736;
}
